<a href="https://colab.research.google.com/github/textspur/testland/blob/main/Twitter_Demographer_test01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Twitter-Demographer

This is going to take a couple of minutes. You probably want to use a GPU runtime if you need HF libraries.

In [ ]:
%%capture
!pip install -U twitter-demographer
!pip install -U tweepy

### **NOTE**: Remember to **restart** the notebook

## Imports

In [ ]:
from twitter_demographer.twitter_demographer import Demographer
from twitter_demographer.components import Rehydrate
from twitter_demographer.classification.transformers import HuggingFaceClassifier
from twitter_demographer.geolocation.nominatim import NominatimDecoder
import pandas as pd

## Tokens

You need to get tokens for both twitter and geonames to run this pipeline

In [ ]:
BEARER_TOKEN = ""

In [ ]:
data = pd.DataFrame({"tweet_ids": ["1545401081542443008", "253685732777009152", "1477976329710673921", "1467887350084689928", "1467887352647462912", "1290664307370360834", "1465284810696445952"]})

In [ ]:
data

             tweet_ids
0  1477976329710673921
1  1467887350084689928
2  1467887352647462912
3  1290664307370360834
4  1465284810696445952

## Using the Demographer

In [ ]:
demo = Demographer()

In [ ]:
component_one = Rehydrate(BEARER_TOKEN)
component_two = NominatimDecoder()
component_three = HuggingFaceClassifier("cardiffnlp/twitter-roberta-base-sentiment")

In [ ]:
demo.add_component(component_one)
demo.add_component(component_two)
demo.add_component(component_three)

In [ ]:
new_data = demo.infer(data)

Running Demographer:   0%|          | 0/3 [00:00<?, ?it/s]
  0%|          | 0/5 [00:00<?, ?it/s]
 20%|██        | 1/5 [00:00<00:00,  7.47it/s]
Running Hydrate:  20%|██        | 1/5 [00:00<00:00,  7.47it/s]
Running Hydrate:  40%|████      | 2/5 [00:00<00:00,  7.47it/s]
Running Hydrate:  60%|██████    | 3/5 [00:00<00:00,  9.90it/s]
Running Hydrate:  60%|██████    | 3/5 [00:00<00:00,  9.90it/s]
Running Hydrate:  80%|████████  | 4/5 [00:00<00:00,  9.90it/s]
Running Hydrate: 100%|██████████| 5/5 [00:00<00:00, 11.15it/s]
Running Hydrate: 100%|██████████| 5/5 [00:00<00:00, 10.48it/s]
Running Demographer:  33%|███▎      | 1/3 [00:00<00:00,  2.02it/s]
  0%|          | 0/5 [00:00<?, ?it/s]
Geocoder:   0%|          | 0/5 [00:00<?, ?it/s]
Geocoder:  40%|████      | 2/5 [00:00<00:00,  4.38it/s]
Geocoder:  60%|██████    | 3/5 [00:00<00:00,  3.72it/s]
Geocoder:  80%|████████  | 4/5 [00:01<00:00,  3.53it/s]
Geocoder: 100%|██████████| 5/5 [00:01<00:00,  2.89it/s]
Running Demographer: 100%|██████████| 3/3 [00:08<00:00,  2.95s/it]

In [ ]:
new_data

                                         screen_name  ... cardiffnlp/twitter-roberta-base-sentiment
1  c3662a3720829f818ff78d5dd1d22d469488244efdbd21...  ...                                         1
4  d0bf91186c88cb5dd886259ee503c309735cce25ac4b38...  ...                                         2
2  c3662a3720829f818ff78d5dd1d22d469488244efdbd21...  ...                                         1
0  9b61fff64038f969a863a61e28358a7ba13b4517dd7638...  ...                                         2
3  589b556f0c7c08b1623a5dabb9b5f16c4210019e07853e...  ...                                         2

[5 rows x 7 columns]